
.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background-color: #0b1313;
    padding: 0;
    overflow: hidden;
    
}

.chat-container {
    width: 100%;
    max-width: 500px;
    border: 1px solid #ddd;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    max-height: 800px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    background-color: #fff;
}

.chat-header {
    padding: 15px;
    background-color: #66145b;
    color: white;
    text-align: center;
    font-weight: bold;
    flex-shrink: 0;
}

.chat-window {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #050505;
}
.message-wrapper {
    display: flex;
    width: 100%;
}

.user-wrapper { justify-content: flex-end; }
.bot-wrapper { justify-content: flex-start; }

.bubble {
    max-width: 85%;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 1.4;
    word-break: break-word;
}

.user-bubble {
    background-color: #66145b;
    color: white;
    border-radius: 18px 18px 2px 18px;
}

.bot-bubble {
    background-color: #E9E9EB;
    color: black;
    border-radius: 18px 18px 18px 2px;
}

.input-area {
    display: flex;
    padding: 15px;
    border-top: 1px solid #eee;
    background-color: #050505;
    flex-shrink: 0;
}

.chat-input {
    flex: 1;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 16px;
}

.send-button {
    margin-left: 10px;
    padding: 0 20px;
    background-color: #66145b;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}

.loading-text {
    font-size: 20px;
    color: #888;
    font-style: italic;
    margin-bottom: 10px;
}