*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Default margin ar padding muche fela */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* 3. HTML ar Body-ke full height deya */
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}